@import 'tailwindcss';

@theme {
  --font-nunito: 'Nunito Variable', sans-serif;
  --font-open-sans: 'Open Sans Variable', sans-serif;

  --color-primary: #ee7a14;
  --color-primary-light-10: rgba(242, 153, 74, 0.1);
  --color-primary-light-50: rgba(242, 153, 74, 0.5);

  --color-green: #1fc16b;
  --color-purple: #c5b3f7;

  --shadow-xs: inset 0 0 0 2px #000000;
  --shadow-sm: 4px 4px 0 0 #000000, inset 0 0 0 2px #000000;
  --shadow-md: 6px 6px 0 0 #000000, inset 0 0 0 2px #000000;
  --shadow-lg: 8px 8px 0 0 #000000, inset 0 0 0 2px #000000;
  --shadow-xl: 12px 12px 0 0 #000000, inset 0 0 0 2px #000000;
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

h1,
h2,
h2,
h3,
h4 {
  text-wrap: balance;
  font-family: 'Nunito Variable', sans-serif;
}

p {
  text-wrap: pretty;
}
