@import 'tailwindcss';

@theme {
  --font-nunito: 'Nunito Variable', sans-serif;
  --font-open-sans: 'Open Sans Variable', sans-serif;

  --color-primary: #ee7a14;
  --color-primary-light-10: rgba(242, 153, 74, 0.1);
  --color-primary-light-50: rgba(242, 153, 74, 0.5);

  --color-green: #1fc16b;
  --color-purple: #c5b3f7;

  --color-black-1/10: hsla(0, 0%, 33%, 1);
  --color-grey: #555555;

  --shadow-xs: inset 0 0 0 2px #000000;
  --shadow-sm: 4px 4px 0 0 #000000, inset 0 0 0 2px #000000;
  --shadow-md: 6px 6px 0 0 #000000, inset 0 0 0 2px #000000;
  --shadow-lg: 8px 8px 0 0 #000000, inset 0 0 0 2px #000000;
  --shadow-xl: 12px 12px 0 0 #000000, inset 0 0 0 2px #000000;

  --animate-floating: floating 3s ease-in-out infinite;

  @keyframes floating {
    0%,
    100% {
      transform: translate(-4px, -4px);
      box-shadow: var(--shadow-lg);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      box-shadow: var(--shadow-sm);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

html {
  font-family: 'Open Sans Variable', sans-serif;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h2,
h3,
h4 {
  font-family: 'Nunito Variable', sans-serif;
}

p {
  text-wrap: pretty;
}

.section {
  display: grid;
  place-items: center;
  padding-inline: 1rem; /* 16px */
  padding-block: 2.5rem; /* 40px */
  max-width: 100dvw;

  @media (width >= 40rem /* 640px */) {
    padding-inline: 1.5rem /* 24px */;
    padding-block: 3rem; /* 48px */
  }
  @media (width >= 48rem /* 768px */) {
    padding-inline: 2rem /* 32px */;
    padding-block: 3.5rem; /* 56px */
  }
  @media (width >= 64rem /* 1024px */) {
    padding-inline: 2.5rem /* 40px */;
    padding-block: 4rem; /* 64px */
  }
  @media (width >= 80rem /* 1280px */) {
    padding-inline: 3rem /* 48px */;
    padding-block: 4.5rem; /* 72px */
  }
  @media (width >= 96rem /* 1536px */) {
    padding-inline: 3.5rem /* 56px */;
    padding-block: 5rem; /* 80px */
  }
}
