---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/home/sections/Hero.astro'
import Adoptable from '@/sections/Adoptable.astro'
import SpecialCases from '@/sections/SpecialCases.astro'
import OurCuchanos from '@/sections/OurCuchanos.astro'
import HowToHelp from '@/sections/HowToHelp.astro'
import AlreadyAdopted from '@/sections/AlreadyAdopted.astro'
---

<Layout title="Home">
  <main>
    <Hero />
    <Adoptable />
    <SpecialCases />
    <OurCuchanos />
    <HowToHelp />
    <AlreadyAdopted />
  </main>
</Layout>
