---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Hero from '@/sections/Hero.astro'
import Adoptable from '@/sections/Adoptable.astro'
import SpecialCases from '@/sections/SpecialCases.astro'
import OurCuchanos from '@/sections/OurCuchanos.astro'
import HowToHelp from '@/sections/HowToHelp.astro'
import AlreadyAdopted from '@/sections/AlreadyAdopted.astro'
import Footer from '@/components/Footer.astro'
---

<Layout title="Home">
  <!-- <Header /> -->
  <main>
    <Hero />
    <Adoptable />
    <!-- <SpecialCases /> -->
    <!-- <OurCuchanos /> -->
    <!-- <HowToHelp /> -->
    <!-- <AlreadyAdopted /> -->
  </main>
  <!-- <Footer /> -->
</Layout>
