---
const colors = {
  default: 'bg-black',
  primary: 'bg-primary',
}

const texts = {
  L: 'text-lg',
  M: 'text-md',
  S: 'text-sm',
}

const sizes = {
  L: 'py-3',
  M: 'py-2',
  S: 'py-1',
}

const borders = {
  L: 'border-2',
  M: 'border-1',
}

interface Props {
  color?: keyof typeof colors
  size?: keyof typeof sizes
  text?: keyof typeof texts
  stretch?: boolean
  border?: keyof typeof borders
}

const { color = 'default', size = 'M', text = 'L', stretch = false, border = 'L' } = Astro.props
---

<button
  class:list={[
    'active:shadow-sm',
    'active:translate-0',
    'flex',
    'w-48',
    'transform',
    'cursor-pointer',
    borders[border],
    'border-black',
    colors[color],
    sizes[size],
    'shadow-sm',
    'transition-all',
    'ease-out',
    'hover:-translate-1',
    'hover:shadow-lg',
    stretch && 'grow',
  ]}
>
  <span class=`w-full text-center font-semibold text-white ${texts[text]}`><slot /></span>
</button>
