---
import type { HTMLAttributes } from 'astro/types'

const colors = {
  default: 'bg-black',
  primary: 'bg-primary',
}

const sizes = {
  L: ['py-3', 'text-lg', 'border-2'],
  M: ['py-2', 'text-md', 'border-1'],
  S: ['py-1', 'text-sm', 'border-1/2']
}

interface Props extends HTMLAttributes<'button'> {
  color?: keyof typeof colors
  size?: keyof typeof sizes
  className?: string
}

const { color = 'default', size = 'L', className, ...props } = Astro.props
---

<button
  class:list={[
    'active:shadow-sm',
    'active:translate-0',
    'flex',
    'w-48',
    'transform',
    'cursor-pointer',
    'border-black',
    colors[color],
    sizes[size],
    'shadow-sm',
    'transition-all',
    'ease-out',
    'hover:-translate-1',
    'hover:shadow-lg',
    className || '',
  ]}
  {...props}
>
  <span class="w-full text-center font-semibold text-white"><slot /></span>
</button>
