---
// Background color
const colors = {
  default: 'black',
  primary: 'primary', // Orange alike
}
// Vertical padding values
// Tailwind variable sizes
const sizes = {
  L: '3', // Large => class='py-3'
  M: '2', // Medium => class='py-2'
}
// Typescript shit
interface Props {
  color?: keyof typeof colors
  size?: keyof typeof sizes
}
// Get Astro props
const { color = 'default', size = 'L' } = Astro.props

// ---------------------------
// -- Sigo pensando que es  --
// -- mejor con booleans :/ --
// ---------------------------
---

<button
  class=`active:shadow-sm active:translate-0 flex w-48 transform cursor-pointer border-2  border-black bg-${colors[color]} py-${sizes[size]} shadow-sm transition-all ease-out hover:-translate-1 hover:shadow-lg`
>
  <span class="w-full text-center text-lg font-semibold text-white"><slot /></span>
</button>
