---
import type { HTMLAttributes } from 'astro/types'

const colors = {
  default: 'bg-black',
  primary: 'bg-primary',
}

const sizes = {
  L: ['md:py-3', 'md:text-lg', 'md:border-2', 'py-2', 'text-md', 'border-1'],
  M: ['py-2', 'text-md', 'border-1'],
  S: ['py-1', 'text-sm', 'border-1/2'],
}

interface Props extends HTMLAttributes<'button'> {
  color?: keyof typeof colors
  size?: keyof typeof sizes
}

const { color = 'default', size = 'L', ...props } = Astro.props
---

<button
  class:list={[
    'active:shadow-xs',
    'active:translate-1',
    'flex',
    // 'w-[min(12rem,100%)]',
    'transform',
    'cursor-pointer',
    'border-black',
    colors[color],
    sizes[size],
    'shadow-sm',
    'transition-all',
    'ease-out',
    'hover:-translate-1',
    'hover:shadow-lg',
    'text-white',
    'text-center',
    'font-semibold',
  ]}
  class={props.class}
  {...props}
>
  <span class="w-full"><slot /></span>
</button>
