---
import CarouselButton from './CarouselButton.astro'
import ArrowLeft from 'iconoir/icons/arrow-left.svg'
import ArrowRight from 'iconoir/icons/arrow-right.svg'
---

<div class="carousel relative flex w-full max-w-[100dvw] flex-col items-center">
  <div class="carousel__viewport w-full overflow-hidden">
    <div class="flex">
      <slot />
    </div>
  </div>
  <CarouselButton
    className="carousel__button__prev absolute top-1/2 left-0 -translate-y-1/2 border-black"
  >
    <ArrowLeft />
  </CarouselButton>
  <CarouselButton
    className="carousel__button__next absolute top-1/2 right-0 -translate-y-1/2 border-black"
  >
    <ArrowRight />
  </CarouselButton>
</div>

<script src="../scripts/carousel.ts"></script>
