---
import Image from 'astro/components/Image.astro'
import logo from '@/assets/logoFull.png'
import SocialButton from './SocialButton.astro'
import Whatsapp from '@/assets/whatsapp.svg'
import Button from './Button.astro'
---

<footer class="bg-primary-light-10 flex flex-col justify-around gap-8 border-t-2 px-6 py-10">
  <div class="flex flex-col">
    <picture>
      <Image src={logo} alt="Cuchanos logo" class="h-fit w-[136px]" />
    </picture>
    <small><strong>ONG</strong> Refugio de animales</small>
  </div>

  <div class="flex flex-col">
    <p class="text-2  xl font-extrabold">
      Ayuda a <br /> Animales Sin Hogar a <br /> Tener una Vida Digna!
    </p>
  </div>

  <div class="flex flex-col gap-4">
    <address>
      Pedro Trápani 1350 Esq. Bayona
      <a href="mailto:cuchadeleste@example.com">cuchadeleste@example.com</a><br />
    </address>
    <div class="flex w-fit gap-5">
      <SocialButton social="facebook" />
      <SocialButton social="instagram" />
    <Whatsapp class="h-[32px] w-[32px]" />

    </div>
  </div>

  <div class="flex flex-col gap-5">
    <h2 class="text-xl font-extrabold">Sobre Nosotros</h2>
    <p class="w-full max-w-[300px]">
      Somos una <strong>ONG</strong> dedicada al rescate y bienestar de perros y gatos callejeros.
    </p>
    <p>Te invitamos a conocer mas...</p>
  </div>

  <nav>
    <ul class="flex flex-col gap-4">
      <li>Nuestros Cuchanos</li>
      <li>Sobre Nosotros</li>
      <li>Eventos</li>
      <li>Como puedo Ayudar?</li>
    </ul>
  </nav>

  <div class="flex flex-col">
    <Button color='primary'>Apoyar el Proyecto</Button>
  </div>

  <p class="text-center text-sm">&copy; {new Date().getFullYear()} Cucha Del Este</p>
</footer>
