---
import Logo from '@/assets/logo.svg'
import Button from './Button.astro'
---

<header class="sticky top-0 z-10 grid w-full place-items-center bg-white">
  <div class="container flex h-16 w-full items-center justify-between gap-4">
    <label class="peer z-2 ml-4">
      <div class="flex h-10 w-9 cursor-pointer flex-col items-center justify-center">
        <input class="peer hidden" type="checkbox" />
        <div
          class="h-[2px] w-[50%] origin-left translate-y-[0.45rem] rounded-sm bg-black transition-all duration-300 peer-checked:rotate-[-45deg]"
        >
        </div>
        <div
          class="h-[2px] w-[50%] origin-center rounded-md bg-black transition-all duration-300 peer-checked:hidden"
        >
        </div>
        <div
          class="h-[2px] w-[50%] origin-left -translate-y-[0.45rem] rounded-md bg-black transition-all duration-300 peer-checked:rotate-[45deg]"
        >
        </div>
      </div>
    </label>

    <a href="/" class="mr-auto aspect-1/1 h-full py-2">
      <Logo class="size-full" />
    </a>

    <nav
      class="absolute top-0 z-1 h-fit w-[80dvw] -translate-x-100 bg-white pt-16 shadow-lg transition-all peer-has-checked:translate-x-0 md:static"
    >
      <ul
        id="navContainer"
        class="flex h-[100dvh] w-full flex-col font-bold [&>li]:flex [&>li]:h-fit [&>li]:cursor-pointer [&>li]:items-center [&>li]:px-8 [&>li]:py-4"
      >
        <li id="active">Hogar</li>
        <li>Nuestros Cuchanos</li>
        <li>Sobre Nosotros</li>
        <li>Eventos</li>
      </ul>
    </nav>
    <Button color="primary" size="L" className="mr-4">Donar</Button>
  </div>
</header>

<style>
  :root {
    --animation-followerActive: hidden;
    --animation-followerWidth: 80px;
    --animation-followerRight: 0px;
    --animation-followerLeft: 0px;
  }

  header {
  }

  header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background-color: black;
  }

  #navContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: var(--animation-followerRight);
    left: var(--animation-followerLeft);
    width: var(--animation-followerWidth);
    height: 3px;
    background-color: #ee7a14;
    visibility: var(--animation-followerActive);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 100;
  }

  #active {
    background-color: #ee7a1436;
    box-shadow: inset 0 -0.2rem 0 0 rgba(242, 153, 74, 0.5);
  }
</style>

<script>
  const navItems = document.querySelectorAll('li')
  const activeItem = document.getElementById('active')
  // test.clientWidth gives width of DOM element in px!
  // Make function to move navContainer::afeter to the nav element and be its size
  const setFollower = (width = 0, right = 0, left = 0) => {
    document.documentElement.style.setProperty('--animation-followerActive', 'visible')
    document.documentElement.style.setProperty('--animation-followerWidth', `${width}px`)
    document.documentElement.style.setProperty('--animation-followerRight', `${right}px`)
    document.documentElement.style.setProperty('--animation-followerLeft', `${left}px`)
  }
  // Set follower position and size at first mount
  const right = activeItem.getBoundingClientRect().right
  const left = activeItem.getBoundingClientRect().left
  const width = activeItem.clientWidth
  setFollower(width, right, left)
  // Clears the "active" class from all nav items
  const clearActive = () => {
    navItems.forEach((item) => {
      item.id = 'inactive'
    })
  }
  // Adds click event to nav items
  navItems.forEach((item: HTMLElement) => {
    item.addEventListener('click', () => {
      if (item.id === 'active') return
      clearActive()
      item.id = 'active'
    })
  })
  // Hover animation
  navItems.forEach((item: HTMLElement) => {
    item.addEventListener('mouseenter', () => {
      const right = item.getBoundingClientRect().right
      const left = item.getBoundingClientRect().left
      const width = item.clientWidth
      setFollower(width, right, left)
    })

    item.addEventListener('mouseleave', () => {
      const activeNavItem = document.getElementById('active')
      const right = activeNavItem.getBoundingClientRect().right
      const left = activeNavItem.getBoundingClientRect().left
      const width = activeNavItem.clientWidth
      setFollower(width, right, left)
    })
  })

  window.addEventListener('resize', () => {
    const activeNavItem = document.getElementById('active')
    const right = activeNavItem.getBoundingClientRect().right
    const left = activeNavItem.getBoundingClientRect().left
    const width = activeNavItem.clientWidth
    setFollower(width, right, left)
  })

  // TODO: pro animation for nav items
</script>
