---
import Logo from '@/assets/logo.svg'
import Menu from '@/assets/icons/menu.svg'
---

<header class="bg-primary-light-10 sticky top-0 z-100 flex h-10 w-full place-items-center px-4">
  <a href="/" class="mr-auto aspect-1/1 h-full py-2">
    <Logo class="size-full" />
  </a>
  <Menu />
</header>
