---
import Logo from '@/assets/logo.svg'
import Button from './Button.astro'
---

<header class="sticky flex h-[6rem] w-full items-center justify-around border-b-[.2rem]">
  <picture class="img-container">
    <Logo />
  </picture>
  <nav class="align-center h-full">
    <ul
      class="flex h-full gap-10 font-bold [&>li]:flex [&>li]:h-full [&>li]:cursor-pointer [&>li]:items-center [&>li]:p-4"
    >
      <li>Hogar</li>
      <li>Nuestros Cuchanos</li>
      <li>Sobre Nosotros</li>
      <li>Eventos</li>
    </ul>
  </nav>
  <Button>Contactanos</Button>
</header>

<style>
  .active {
    background-color: #ee7a1436;
    box-shadow: inset 0 -0.2rem 0 0 #ee7a14;
  }
</style>

<script>
  const navItems = document.querySelectorAll('li')
  // Clears the "active" class from all nav items
  const clearActive = () => {
    navItems.forEach((item) => {
      item.classList.remove('active')
    })
  }
  // Adds click event to nav items
  navItems.forEach((item: HTMLElement) => {
    item.addEventListener('click', () => {
      if (item.classList.contains('active')) return
      clearActive()
      item.classList.add('active')
    })
  })
</script>
