---
import ArrowLeft from 'iconoir/icons/arrow-left.svg'
import ArrowRight from 'iconoir/icons/arrow-right.svg'
---

<div class="flex h-fit w-full items-center justify-between">
  <span class="border-1 p-2.5">
    <ArrowLeft />
  </span>
  <slot />
  <span class="border-1 p-2.5">
    <ArrowRight />
  </span>
</div>
