---
import Button from "@/components/Button.astro"
---

<section class="section">
  <div class="container text-center items-center flex flex-col">
    <div class="text-wrapper">
      <h1 class="text-5xl font-black">En Adopción</h1>
      <p class="text-base">Cada adopción es una segunda oportunidad. ¡Ayúdanos a escribir finales felices!</p>
    </div>
    <div class="slider-container">
      carta cuchano
    </div>
    <Button>Conocer a todos</Button>
  </div>
</section>
