---
import CardCuchano from '@/components/CardCuchano.astro'
import { alreadyAdopted } from '@/utils/cuchanosMock'

const width = '320px'
const height = '464px'
const quantity = 9

const items = Array.from({ length: quantity }, (_, index) => ({
  position: index + 1,
  index: index,
}))
---

<section class="section overflow-hidden">
  <div class="flex flex-col items-center gap-8 text-center">
    <div class="flex flex-col gap-8">
      <h1 class="text-5xl font-black">¡Ellos ya encontraron su hogar!</h1>
    </div>
    <div
      class="h-130 w-screen overflow-hidden [mask-image:linear-gradient(to_right,transparent,#000_10%_90%,transparent)]"
    >
      <div
        class="relative flex size-full items-center"
        style={`min-width: calc(${width} * ${quantity});`}
      >
        {
          items.map((item) => (
            <div
              class={`transition-filter animate-carousel-slide absolute left-full w-[320px] h-[464px] duration-100 ${item.index % 2 !== 0 && '-translate-y-6'}`}
              style={`
              animation-delay: calc((24s / ${quantity}) * (${item.position} - 1) - 24s);
            `}
            >
              <CardCuchano adopted />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
