---
import ButtonSecondary from '@/components/ButtonSecondary.astro'
import HeroGrid from '../components/HeroGrid.astro'
import Button from '@/components/Button.astro'
import SocialButton from '@/components/SocialButton.astro'
---

<section class="bg-primary-light-10 grid place-items-center border-b-2 px-8 py-16">
  <div class="container flex gap-6">
    <div class="flex flex-1 flex-col justify-center gap-6">
      <div class="flex flex-col">
        <span class="text-xl font-bold">Cucha del este</span>
        <h1 class="text-6xl font-black">
          Encuntra a tu <span class="block">nuevo mejor amigo</span>
        </h1>
      </div>
      <p class="text-base">
        En nuestro refugio, cada 'cuchano' tiene una historia y un corazón lleno de amor esperando
        un hogar. Adopta, transforma vidas y deja que la tuya también sea transformada.
      </p>
      <div class="flex items-center gap-6">
        <Button color="primary">Adopta</Button>
        <Button>Donar</Button>
      </div>
      <div class="socials-container">
        <span>Siguenos</span>
        <div class="flex">
          <SocialButton social="instagram" />
          <SocialButton social="facebook" />
        </div>
      </div>
    </div>
    <div class="grid flex-1 place-items-center"><HeroGrid /></div>
  </div>
</section>
