---
import Button from '@/components/Button.astro'
---

<section class="grid place-items-center px-6 py-8 text-center">
  <div class="container flex flex-col items-center gap-6 text-center">
    <div class="text-wrapper flex flex-col gap-8">
      <h2 class="text-sm font-extrabold">¿Cómo puedo ayudar?</h2>
    </div>
    <div class="flex w-full flex-wrap items-center justify-center gap-10">
      {
        [
          {
            title: 'Domaciones',
            description:
              'Tus donaciones materiales son esenciales para el día a día de nuestros cuchanos. Comida, medicinas o insumos como cartones y mantas les brindan comodidad y salud. ¡Cada aporte cuenta!',
          },
          {
            title: 'Padrinazgo',
            description:
              'Conviértete en el prójimo guardián de un cuchano. Apadrinar significa cubrir sus necesidades básicas o médicas mientras espera un hogar. ¡Recibirás actualizaciones y serás parte de su recuperación!',
          },
        ].map(({ title, description }) => (
          <article class="flex h-fit max-w-[520px] flex-col justify-between gap-5 border px-10 py-8 shadow-md">
            <h2 class="text-left text-xl font-black">{title}</h2>
            <p class="text-left text-[.625rem]">{description}</p>
            <Button class="w-fit px-8" size="M">
              Saber más
            </Button>
          </article>
        ))
      }
    </div>
  </div>
</section>
